/* 0. Overview */
html,
body {
  margin: 0px;
  padding: 0px;
}
hr {
  margin: 5px !important;
}
h3 {
  font-weight: bold !important;
}

/* 1. Header */
.nav-item {
  padding: 0px 20px;
}
.dropdown-menu.show {
  background-color: #008888ee;
}
.dropdown-menu > li > a {
  color: #ffffff !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  transform: scale(0.9);
  transform-origin: center;
}
.dropdown-menu > li > a:hover {
  color: #000000 !important;
}

.dropdown-item {
  color: #ffffff !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  transform: scale(0.9);
  transform-origin: center;
}
.dropdown-item.active {
  background-color: #ff000011 !important;
}

.dropdown-header {
  color: #ffffff !important;
}

.name {
  color: #ffffff !important;
  font-weight: bold !important;
  font-size: 0.9em !important;
  margin-top: 2px;
}

/* 2. Main */
.container-fluid {
  padding: 0px;
}
.well {
  background-color: #008888;
  padding: 5px;
}
.nav-pills > li > a {
  color: #eeeeee !important;
  border-radius: 10px !important;
  margin-bottom: 10px !important;
}
.nav-pills > li > a.active {
  color: #ffffff !important;
  font-weight: bold !important;
  background-color: #ffffff55 !important;
  border-radius: 10px !important;
  margin-bottom: 10px !important;
}
.button_primary {
  background-color: #0088aa;
  color: #ffffff;
  border: solid 2px #0088aa;
  border-radius: 50px;
  font-size: 0.9em;
  font-weight: bold;
}
.card-body {
  text-align: justify;
}
.image-shadow {
  border-radius: 10px;
  border: solid 1px #eeeeee;
  box-shadow: 0px 0px 10px #eeeeee;
}

/* 3. Footer */
.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
  margin: 0px;
  font-size: 0.8em;
  line-height: 2em;
}
.footer_a {
  color: #ffffff;
  text-decoration: none;
}
.footer_card {
  margin: 0px;
}
